<h2>Por Region</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SearchBox -->
    <!-- <shared-search-box
      placeholder="Busqueda por Region"
      #txtInput>
      (onDebonunce)="searchByRegion($event)"
    </shared-search-box> -->
    <button
     *ngFor="let region of regions"
     class="btn mx-2"
     (click)="searchByRegion(region)"

       [ngClass]="{'btn-outline-primary':selectedRegion === region}">
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <shared-loadig-spiner *ngIf="isLoaded"></shared-loadig-spiner>
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
